:root{
    --principal: #ad2b00;
    --negro: #000;
    --blanco: #fff;

    --fuentePrincipal: 'Prompt', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1,h2,h3{
    font-family: var(--fuentePrincipal);
    text-align: center;
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.8rem;
}

/* header */

.header{
    border-bottom: 1px solid var(--principal);
}

.header a{
    text-decoration: none;
    color: var(--negro);
}


/* nav */

.logo__imagen{
    width: 15rem;
    height: auto;

    transition: all .5s ease;
}

.logo__imagen:hover{
    transform: scale(1.1);
}
.subrayado::after{
    content: "";
    height: .3rem;
    width: 0;
    background-color: var(--principal);
    display: block;
    transition: all 400ms ease;
}
.subrayado:hover::after{
    width: 100%;
}

.color--a{
    color: var(--negro) !important;
}
.color--a:hover{
    color: var(--principal) !important;

}
.active{
    color: var(--principal) !important;
}


/* carrusel */

/* main */

.img{
    width: 10rem;
}

@media (min-width: 768px) {
    .resize{
        height: 80.4vh;
    }
}



/* main */

.main-flex{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 1.5rem;
    padding: 1rem;
}



.main-flex .contenedor-texto h3{
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.main-flex .contenedor-texto h4{
    font-style: oblique;
    font-size: 2.5rem ;
    margin-bottom: 1.5rem;
    color: var(--principal);
}
.main-flex .contenedor-texto p{
    font-size: 1.5rem;
    text-indent: 1.3rem;
    text-align: justify;
}

.imagen{
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .main-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
        margin-top: 1.5rem;
        padding: 1rem;
    }

    .contenedor-texto, .contenedor-imagen{
        width: 45%;
    }
}





/* testimonio */

.section-banner h3{
    text-align: start;
    padding-left: 1rem;
}

.testimonio-flex{
    display: flex;

    margin: 0 auto;

    flex-direction: column;
}

.contenedor-testimonio{
    display: flex;
    justify-content:start;

    margin: 1rem 2.4rem 1rem 1rem;
}

.contenedor-imagen-banner, .contenedor-texto-testimonio{
    margin: 1rem;
}
.contenedor-texto-testimonio p{
    text-align: justify;
    font-size: 1.5rem;
}
.contenedor-texto-testimonio .nombreDePersona{
    font-style: oblique;
    font-weight: bolder;
    text-align: end;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .section-banner{
        max-width: 110rem;
        margin: 0 auto;
    }

    .testimonio-flex{
        display: flex;
        margin: 0 auto;
        flex-direction: row;

        

        padding: 0 5rem 0 5rem;
    }

    .section-banner h3{
        font-size: 4rem;
        margin: 2.4rem 0 1rem 0;
        text-align: center;
    }
}



/* BANNER */
.contenedor-banner{
    height: 20rem;
    width: 100%;
    background-image: url(../images/banner2.png);
    margin-top: 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor-banner a{ 
    text-decoration: none;
    padding: 1rem;
    font-size: 4rem;
    color: var(--blanco); 
    background-color: var(--negro);
    border-radius: 1rem;
    transition: .7s;
}
.contenedor-banner a:hover{
    color: var(--negro);
    background-color:var(--blanco);
}

.contenedor-banner a{
    animation: shake 2s infinite;
}
@keyframes shake{
    10%{transform: scale(1.1) rotate(5deg);}
    30%{transform: scale(1.1) rotate(-5deg);}
    50%{transform: scale(1.1) rotate(5deg);}
    70%{transform: scale(1.1) rotate(-5deg);}
}


/* footer */

.footer{
    background-color: var(--negro);
}
.footer-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    padding-top: 2rem;
    
}

.contenedor-texto-footer {
    grid-column: 1 / 3;
    text-align: center;
}

.contenedor-texto-footer p{
    font-size: 1.2rem;
    color: var(--blanco);
    line-height: 1.1;
    margin: .6rem;
    font-family: var(--fuentePrincipal);
}
.contenedor-links-footer{
    display: flex;
    flex-direction: column;
    grid-column: 3 / 5;
}

.contenedor-links-footer a{
    text-align: center;
    color: var(--blanco);
    font-size: 1.2rem;
    text-decoration: none;
    font-family: var(--fuentePrincipal);

    transition: all .5s ease;
}
.contenedor-links-footer a:hover{
    transform: scale(.9);
}

.contenedor-imagen-footer{
    display: flex;
    flex-direction: row;
    grid-column: 1 / 5;
    justify-self: center;

}



.cif-aux img{
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
}

@media (min-width: 768px) {


    .footer-grid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 2rem 0 2rem 0;
    }

    .contenedor-texto-footer {
        grid-column: 1 / 2;
        text-align: center;
    }
    
    .contenedor-links-footer{
        grid-column: 2 / 3;
    }
    .contenedor-imagen-footer{
        flex-direction: column;
        justify-self: center;
        grid-column: 3 / 4 ;
    
    }
    
    .contenedor-links-footer a:hover{
        transform: scale(.9);
    }

    .contenedor-texto-footer p,
    .contenedor-links-footer a{
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .cif-aux img{
        width: 3rem;
        height: 3rem;
        margin: 1rem 1rem 0 0;
        cursor: pointer;
    }
}



/* banner clases*/

.contenedor-banner-clases{
    height: 20rem;
    width: 100%;
    background-image: url(../images/banner2.png);

    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-banner-clases p{ 
    text-decoration: none;
    padding: .8rem;
    font-size: 4rem;
    color: var(--blanco); 
    background-color: var(--negro);
    border-radius: 1rem;
    transition: .7s;
}



/* cartas */

.container{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    row-gap: 1rem;
    margin-top: 2rem;

}

.card{
    width: 100%;
    border-radius: .6rem;
    overflow: hidden;
    background-color: var(--blanco);
    cursor:default;

}


.card img{
    width: 100%;
}
.card .txt{
    text-align: center;
    padding: 1.5rem;
}
.card .txt p{
    line-height: 1.5;
    color: var(--negro);
    font-size: 2rem;
    
}
.card .txt h3{
    font-weight: 400;
    margin-bottom: 1.4rem;
}
.card .txt a{
    text-decoration: none;
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--principal);
    border: 1px solid var(--principal);
    text-align:justify;
}

@media only screen and (min-width: 576px) and (max-width: 970px) {
    .container{
        grid-template-columns: repeat(2 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        gap: 2rem;
    }

    .card{
        transition: all 400ms ease;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }

    .card .txt a{
        border-radius: .4rem;
        transition: all .3s ease;
    }

    .card .txt a:hover{
        background-color: var(--principal);
        color: var(--blanco);
    }
}

@media (min-width: 970px) {
    .container{
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows:repeat(1, 1fr
    ) ;
    column-gap: 1.5rem ;
    }

    .card{
        transition: all 400ms ease;
    }
    .card:hover{
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-2%);
    }

    .card .txt a{
        border-radius: .4rem;
        transition: all .3s ease;
    }

    .card .txt a:hover{
        background-color: var(--principal);
        color: var(--blanco);
    }
}



/* pagina de contacto */

.formulario{
    background-color: #EAE9E9;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}

.contenedor-inputs{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 10rem;
    column-gap: 1rem;
    width: 100%;
    padding: 2rem;
}
.inputs{
    margin-bottom:10px;
}
.inputs:nth-child(1){
    grid-column: 1/3;
}
.inputs:nth-child(4){
    grid-column: 1/3;
}


.inputs label{
    color: #000;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.inputs-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.inputs-text:nth-child(4){
    height: 100%;
}



.enviar{
    display: flex;
    justify-content: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.input-enviar{
    border: none;
    padding: 1rem;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: .3rem;
    transition: .7s;
}
.input-enviar:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.main-flex-contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 3rem auto;
}

@media (max-width: 568px) {
    .main-flex-contacto{
        flex-direction: column;
    }   
}
.contenedor-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.contenedor-datos-textos{
    padding: 1.4rem;
    margin: 2rem;
}

.parrafo{
    font-size: 1.5rem;
    text-align: center;
}

/* mapa*/

.mapa{
    margin-top: 3rem;
}
