/* ESTILOS GLOBALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1, h2, h3 {
  font-family: var(--fuentePrincipal);
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

.contenedor {
  width: min(90%, 120rem);
}

.img-w100 {
  width: 100%;
}

/* HEADER */
.header {
  border-bottom: 1px solid #ad2b00;
}
.header a {
  text-decoration: none;
  color: #000;
}

.logo__imagen {
  width: 15rem;
  height: auto;
  transition: all 0.5s ease;
}
.logo__imagen:hover {
  transform: scale(1.05);
}

.subrayado::after {
  content: "";
  height: 0.3rem;
  width: 0;
  background-color: #ad2b00;
  display: block;
  transition: all 400ms ease;
}
.subrayado:hover::after {
  width: 100%;
}

/* CARRUSEL */
.imagen--carrusel {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imagen--carrusel .th {
  text-align: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 1px 1px #000, 1px 1px #000;
}
.imagen--carrusel .tt {
  text-align: center;
  text-align: center;
  color: white;
  font-size: 1.3rem;
  text-shadow: 1px 1px #000, 1px 1px #000;
}

.bg-1 {
  background-image: url(../images/carrusel1.jpg);
}

.bg-2 {
  background-image: url(../images/carrusel2.jpg);
}

.bg-3 {
  background-image: url(../images/carrusel3.jpg);
}

@media (min-width: 768px) {
  .imagen--carrusel {
    height: 80.4vh;
  }
  .imagen--carrusel .th, .imagen--carrusel .tt {
    text-shadow: 2px 2px #000, 2px 2px #000;
    font-size: 4rem;
    word-wrap: normal;
  }
}
/* PAGINA HOME */
.main-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 1rem;
}
.main-flex .contenedor-texto h3 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.main-flex .contenedor-texto h4 {
  font-style: oblique;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #ad2b00;
}
.main-flex .contenedor-texto p {
  font-size: 1.5rem;
  text-indent: 1.3rem;
  text-align: justify;
}

.imagen {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .main-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1rem;
  }
  .contenedor-texto, .contenedor-imagen {
    width: 45%;
  }
}
/* testimonios */
.section-banner {
  margin-top: 3rem;
}
.section-banner h3 {
  text-align: center;
  padding-left: 1rem;
}
.section-banner .testimonio-flex {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.section-banner .contenedor-testimonio {
  display: flex;
  justify-content: start;
  margin: 1rem 2.4rem 1rem 1rem;
}
.section-banner .contenedor-imagen-banner, .section-banner .contenedor-texto-testimonio {
  margin: 1rem;
}
.section-banner .contenedor-texto-testimonio p {
  text-align: justify;
  font-size: 1.5rem;
}
.section-banner .contenedor-texto-testimonio .nombreDePersona {
  font-style: oblique;
  font-weight: bolder;
  text-align: end;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .section-banner {
    max-width: 110rem;
    margin: 0 auto;
  }
  .section-banner h3 {
    font-size: 4rem;
    margin: 2.4rem 0 1rem 0;
  }
  .section-banner .testimonio-flex {
    flex-direction: row;
    padding: 0 5rem 0 5rem;
  }
}
/* BANNER */
.contenedor-banner {
  height: 20rem;
  width: 100%;
  background-image: url(../images/banner2.png);
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-banner a {
  text-decoration: none;
  padding: 1rem;
  font-size: 4rem;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  transition: 0.7s;
  animation: shake 2s infinite;
}
.contenedor-banner a:hover {
  color: #000;
  background-color: #fff;
}
@keyframes shake {
  10% {
    transform: scale(1.1) rotate(2deg);
  }
  30% {
    transform: scale(1.1) rotate(-2deg);
  }
  50% {
    transform: scale(1.1) rotate(2deg);
  }
  70% {
    transform: scale(1.1) rotate(-2deg);
  }
}

/* FOOTER */
.footer {
  background-color: #000;
}
.footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.footer .footer-grid .contenedor-texto-footer {
  grid-column: 1/3;
  text-align: center;
}
.footer .footer-grid .contenedor-texto-footer p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.1;
  margin: 0.6rem;
  font-family: "Prompt", sans-serif;
}
.footer .contenedor-links-footer {
  display: flex;
  flex-direction: column;
  grid-column: 3/5;
}
.footer .contenedor-links-footer a {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Prompt", sans-serif;
  transition: all 0.5s ease;
}
.footer .contenedor-links-footer a:hover {
  transform: scale(0.9);
}
.footer .contenedor-imagen-footer {
  display: flex;
  flex-direction: row;
  grid-column: 1/5;
  justify-self: center;
}
.footer .contenedor-imagen-footer .cif-aux img {
  width: 3rem;
  height: 3rem;
  margin: 1rem 1rem 0 0;
  cursor: pointer;
}

@media (min-width: 768px) {
  .footer .footer-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 2rem 0 2rem 0;
  }
  .footer .footer-grid .contenedor-texto-footer {
    grid-column: 1/2;
    text-align: center;
  }
  .footer .footer-grid .contenedor-texto-footer p {
    line-height: 1.5;
  }
  .footer .footer-grid .contenedor-links-footer {
    grid-column: 2/3;
  }
  .footer .footer-grid .contenedor-links-footer a {
    line-height: 1.5;
  }
  .footer .footer-grid .contenedor-imagen-footer {
    flex-direction: column;
    justify-self: center;
    grid-column: 3/4;
  }
  .footer .footer-grid .contenedor-imagen-footer .cif-aux img {
    width: 3rem;
    height: 3rem;
    margin: 1rem 1rem 0 0;
    cursor: pointer;
  }
}
/* BANNER CLASES */
.contenedor-banner-clases {
  height: 20rem;
  width: 100%;
  background-image: url(../images/banner2.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-banner-clases p {
  text-decoration: none;
  padding: 0.8rem;
  font-size: 4rem;
  color: #fff;
  background-color: #000;
  border-radius: 1rem;
  transition: 0.7s;
}

/* PAGINA CLASES */
.container {
  width: 80%;
  margin: 0 auto;
}
.container .cartas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.container .cartas .carta {
  width: 40rem;
  height: auto;
  border: 2px solid #ad2b00;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  margin-top: 4rem;
  transition: all 500ms ease;
}
.container .cartas .carta:hover {
  transform: translateY(-1rem);
}
.container .cartas .carta .carta-imagen img {
  max-width: 100%;
  border-bottom: 3px solid #ad2b00;
}
.container .cartas .carta .carta-texto {
  display: flex;
  flex-direction: column;
}
.container .cartas .carta .carta-texto h3 {
  font-size: 4rem;
  margin-bottom: 0;
}
.container .cartas .carta .carta-texto div {
  height: 10rem;
  min-width: 100%;
}
.container .cartas .carta .carta-texto div p {
  text-align: justify;
  margin-bottom: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.container .cartas .carta .carta-texto a {
  align-self: end;
  margin: 2rem;
  padding: 1rem;
  background-color: #ad2b00;
  color: #fff;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 968px) {
  .container .cartas {
    display: flex;
    flex-direction: column;
  }
  .container .cartas .carta {
    border-radius: 0;
  }
}
/* CONTACTO */
.main-flex-contacto {
  margin: 3rem auto;
  width: 95%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.main-flex-contacto .contenedor-datos {
  display: flex;
  flex-direction: column;
}
.main-flex-contacto .contenedor-datos .auxiliar-flex {
  display: flex;
  justify-content: center;
}
.main-flex-contacto .contenedor-datos .auxiliar-flex .contenedor-datos-texto {
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  width: 23rem;
}
.main-flex-contacto .contenedor-datos .auxiliar-flex .contenedor-datos-texto .icono .imagen-icono {
  width: 5rem;
  height: 5rem;
}
.main-flex-contacto .contenedor-datos .auxiliar-flex .contenedor-datos-texto .informacion h2 {
  text-align: left;
}
.main-flex-contacto .contenedor-datos .auxiliar-flex .contenedor-datos-texto .informacion p {
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .main-flex-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 70%;
  }
  .boton:hover {
    background-color: #762104;
  }
}
/* FORMULARIO */
.contenedor-formulario .form .contenedor-campos {
  padding: 2rem;
  width: 90%;
  margin: 2rem auto;
}
.contenedor-formulario .form .contenedor-campos .campos {
  margin-bottom: 2rem;
}
.contenedor-formulario .form .contenedor-campos .campos label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 2rem;
}
.contenedor-formulario .form .contenedor-campos .campos .input {
  width: 100%;
  border: 1px solid #ad2b00;
  padding: 1rem;
  border-radius: 0.5rem;
}
.contenedor-formulario .form .contenedor-campos .boton {
  width: 100%;
  padding: 0.3rem;
  border: none;
  background-color: #ad2b00;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
}

.contenedor {
  margin: 5rem auto;
  border: none;
}
.contenedor .contenedor__flex {
  display: inline-block;
  width: 100%;
  border: none;
}
.contenedor .contenedor__flex .dia {
  margin-top: 2rem;
}
.contenedor .contenedor__flex .dia .dia__nombre p {
  text-align: center;
  font-size: 1.7rem;
  margin: 0;
}
.contenedor .contenedor__flex .dia .dia__horario {
  padding: 3rem;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.contenedor .contenedor__flex .dia .dia__horario p {
  font-size: 1.4rem;
  margin: 0;
}

@media (min-width: 960px) {
  .contenedor .contenedor__flex {
    display: flex;
  }
  .contenedor .contenedor__flex .dia .dia__nombre p {
    text-align: center;
  }
  .contenedor .contenedor__flex .dia .dia__horario {
    height: 10rem;
    flex-direction: column;
    padding-top: 1rem;
  }
  .contenedor .contenedor__flex .dia .dia__horario p {
    text-align: center;
  }
}
.nene {
  background-color: #532036;
}

.teen {
  background-color: #703143;
}

.avanzado {
  background-color: #9f4860;
}

.allage {
  background-color: #de6e80;
}

.taller {
  background-color: #f497a5;
}

.blanco {
  color: #fff;
}

.contenido-principal .blog .entrada {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}
.contenido-principal .blog .entrada:last-of-type {
  border: none;
}
.contenido-principal .blog .entrada .entrada_contenido h4 {
  font-size: 2.5rem;
}
.contenido-principal .blog .entrada .entrada_contenido p {
  font-size: 1.5rem;
}
.contenido-principal .blog .entrada .entrada_contenido .boton {
  display: block;
  font-family: "Prompt", sans-serif;
  color: #fff;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border: none;
  text-decoration: none;
}
.contenido-principal .blog .entrada .entrada_contenido .boton:hover {
  cursor: pointer;
}
.contenido-principal .blog .entrada .entrada_contenido .boton--primario {
  background-color: #000;
}
.contenido-principal .sidebar .cursos {
  list-style: none;
}
.contenido-principal .sidebar .cursos .widget-curso {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 2rem;
}
.contenido-principal .sidebar .cursos .widget-curso:last-of-type {
  border: none;
}
.contenido-principal .sidebar .cursos .widget-curso .widget-curso__label {
  font-weight: 700;
  font-family: "Prompt", sans-serif;
}
.contenido-principal .sidebar .cursos .widget-curso .widget-curso__info {
  font-weight: normal;
}
.contenido-principal .sidebar .cursos .widget-curso .widget-curso__info,
.contenido-principal .sidebar .cursos .widget-curso .widget-curso__label {
  font-size: 1.5rem;
}
.contenido-principal .sidebar .cursos .widget-curso .boton--secundario {
  background-color: #ad2b00;
}

.boton {
  display: block;
  font-family: "Prompt", sans-serif;
  color: #fff;
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border: none;
  text-decoration: none;
}
.boton:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .contenido-principal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .contenido-principal .blog .entrada .entrada_contenido .boton {
    display: inline-block;
  }
  .sidebar .cursos .widget-curso .boton {
    display: inline-block;
  }
}/*# sourceMappingURL=estilo.css.map */