.contenedor-banner-clases{
    height: 20rem;
    width: 100%;
    background-image: url(../images/banner2.png);

    display: flex;
    justify-content: center;
    align-items: center;
    p{
        text-decoration: none;
        padding: .8rem;
        font-size: 4rem;
        color: $Blanco; 
        background-color: $Negro;
        border-radius: 1rem;
        transition: .7s;
    }
}