/* CARRUSEL */
.imagen--carrusel{
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .th{
        text-align: center;
        text-align: center;
        color: white;
        font-size: 2rem;
        text-transform: uppercase;
        text-shadow: 1px 1px $Negro, 1px 1px $Negro;
    }
    .tt{
        text-align: center;
        text-align: center;
        color: white;
        font-size: 1.3rem;
        text-shadow: 1px 1px $Negro, 1px 1px $Negro;
    }

}
.bg-1{
    background-image: url(../images/carrusel1.jpg);
}
.bg-2{
    background-image: url(../images/carrusel2.jpg);
}
.bg-3{
    background-image: url(../images/carrusel3.jpg);
}
@media (min-width: 768px) {
    .imagen--carrusel{
        height: 80.4vh;
        .th,.tt{
            text-shadow: 2px 2px $Negro, 2px 2px $Negro;
            font-size: 4rem;
            word-wrap: normal;

        }
    }
}