/* FOOTER */
.footer{
    background-color: $Negro;
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        .contenedor-texto-footer {
            grid-column: 1 / 3;
            text-align: center;
            p{
                font-size: 1.2rem;
                color: $Blanco;
                line-height: 1.1;
                margin: .6rem;
                font-family: $FuentePrincipal;  
            }
        }
    }
    .contenedor-links-footer{
        display: flex;
        flex-direction: column;
        grid-column: 3 / 5;
        a{
            text-align: center;
            color: $Blanco;
            font-size: 1.2rem;
            text-decoration: none;
            font-family: $FuentePrincipal;
        
            transition: all .5s ease;
            &:hover{
                transform: scale(.9);
            }
        }
    }
    .contenedor-imagen-footer{
        display: flex;
        flex-direction: row;
        grid-column: 1 / 5;
        justify-self: center;
        .cif-aux{
            img{
                width: 3rem;
                height: 3rem;
                margin: 1rem 1rem 0 0;
                cursor: pointer;
            }
            
        }
    
    }
    
}

@media (min-width: 768px) {  
    .footer{
    .footer-grid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 2rem 0 2rem 0;
        .contenedor-texto-footer {
            grid-column: 1 / 2;
            text-align: center;
            p{
                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
        .contenedor-links-footer{
            grid-column: 2 / 3;
            a{
                font-size: 1.6rem;
                line-height: 1.5;
            }
        }
        .contenedor-imagen-footer{
            flex-direction: column;
            justify-self: center;
            grid-column: 3 / 4 ;
            .cif-aux{
                img{
                width: 3rem;
                height: 3rem;
                margin: 1rem 1rem 0 0;
                cursor: pointer;
            }
            }
        }
    }
 }
}