$ColorPrimario:#ad2b00;
$Negro: #000;
$Blanco: #fff;
$Gris: #e1e1e1;


$NeneHorario: #532036;
$AdolescentesHorario: #703143;
$AvanzadoHorario: #9f4860;
$Allages: #de6e80;
$taller: #f497a5;

$FuentePrincipal: 'Prompt', sans-serif;

// .color1 {color: #532036;}
// .color2 {color: #703143;}
// .color3 {color: #9f4860;}
// .color4 {color: #de6e80;}
// .color5 {color: #f497a5;}